:root {
  --foreground-rgb: 255,255,255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0,0,0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
body {
  background: white;
}


.title{
  width:100vw;
  height:60vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:30px;
  h1{
    font-size:78px;
    letter-spacing: 40px;
    font-weight: 300;
  }
  p{
    width:50%;
    text-align: center;
  }
}

.artists{
display:flex;
flex-direction: column;
.artist{
  display:flex;
  cursor:pointer;
  height:200px;
  align-items: center;
  justify-content: space-between;
  width:100%;
  overflow: hidden;
  padding: 0 80px;
  &:not(first-child){
    border-bottom: 2px solid black;
  }
}
}